.mortgageButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d8db2f;
  border: none;
  outline: none;
  color: #133041;
  font-size: calc(18rem / 16);
  font-weight: 600;
  margin-top: calc(24rem / 16);
  padding: calc(14rem / 16) calc(47rem / 16);
  border-radius: 90px;
  width: 100%;
}

.mortgageButton:hover {
  cursor: pointer;
}

.buttonIcon {
  margin-right: calc(12rem / 16);
}

@media (min-width: calc(650rem/16)) {
  .mortgageButton {
    max-width: calc(370rem / 16);
  }
}
