.mortgageInputContainer {
  color: #4e6e7e;
  font-weight: 500;
  margin: calc(24rem / 16) 0;
}

.mortgageInputLabel {
  display: block;
  margin-bottom: calc(12rem / 16);
}

.mortgageInputFieldContainer {
  position: relative;
  display: flex;
  overflow: hidden;
  align-items: center;
  border: 1px solid #6b94a8;
  border-radius: 4px;
}

.inputSymbolText {
  background-color: #e4f4fd;
  padding: 13px 1.4rem;
  font-weight: 700;
  font-size: calc(18rem / 16);
}

.mortgageInputField {
  border: none;
  outline: none;
  width: 100%;
  font-size: calc(18.25rem / 16);
  padding-left: 1rem;
  font-weight: 700;
}

.symbolHidden {
  display: none;
}
