.sectionHeader {
  margin-bottom: 1rem;
  color: white;
  font-size: calc(24rem / 16);
}

.sectionText {
  color: #9abed5;
}

.resultSection {
  background-color: #133041;
  font-family: "Plus Jakarta Sans", sans-serif;
  padding: calc(32rem / 16) calc(24rem / 16);
}

.repaymentsContainer {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: calc(24rem / 16) 1rem;
}

.repaymentsContainerTop {
  margin-top: calc(24rem / 16);
  background-color: yellow;
  padding-top: 4px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.monthlyRepaymentAmount {
  font-size: calc(40rem / 16);
  color: #d8db2f;
  font-weight: 800;
}

.totalRepaymentAmount {
  font-size: calc(24rem / 16);
  color: white;
  font-weight: 800;
}

.horizontalLine {
  border: none;
  border-top: 2px solid rgba(154, 190, 213, 0.35);
  margin: 1rem 0;
}

@media (min-width: calc(650rem/16)) {
  .resultSection {
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;
  }
  .monthlyRepaymentAmount {
    font-size: calc(56rem / 16);
  }
}

@media (min-width: calc(1000rem/16)) {
  .resultSection {
    padding: calc(40rem / 16);
    padding-top: calc(50rem / 16);
    border-bottom-left-radius: 100px;
    border-top-right-radius: 24px;
  }
}
